PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Database
MONGODB_URI=

# JWT
JWT_TOKEN=
TOKEN_EXPIRY=7d

# GetStream.io
STREAM_API_KEY=
STREAM_SECRET_KEY=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=
